/* Main TAGS */

Body{
    line-height: 1.5;
    font-size: .8em;
    color: #777777;
    background-image: url("../images/qbkls.png");
    background-repeat: repeat;
}
header {
    background-color: white;
    margin-top: 0;
    border-bottom: #dddddd 1px solid;
    width: 100%;
}

h1,{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;

}
p{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica, sans-serif';
}

li{
    border-right: #cfcfcf solid 1px;
    padding-left: 5px;
    padding-right:  5px;
}

/* link tags */


/* Class Tags */
.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    width: 960px;
    margin-top: 2em;
    box-sizing: border-box;
}
.name{
    color: #ffffff;
    background-color: #4aaaa5;
    display: inline-block;
    padding: 25px;
    margin-bottom: 0;
    text-align: center;
    /* float: left; */
    margin-top: 0;
    width: 200px;
}

.head-one{
    text-align: left;
    color: #4aaaa5;
    padding: 1em 1px;
    border-bottom:#dddddd 1px solid;

    margin: 0 0 0 0;
}

.Main-content {
    border: #dddddd 1px solid;
    margin-bottom: 10%;
    padding: 1.5em;
    background-color: #ffffff;

}

.main-header{
    width: 960px;
    margin: 0 auto;
}

.nav{
    display: inline-block;
    list-style: none;
    float: right;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.nav > li {
        margin: 0;
        display: inline-flex;
        height:  100%;

}

.footer{
    border-top: #4aaaa5 5px solid;
    background-color: #666666;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    text-align:center;
}
.foot{
    display: inline-block;
    position: absolute;
    bottom: 10px;
}

.main-image {float: left;padding-right: 15px;}

.second{
    font-size: 1.1em;
    padding-right: 5%;
    text-align: left;
    padding: 0 5% 10% 0;
}

/* Contact form */
.contact-form{
    text-align: left;
    margin-top: 1.5em;
    font-size: .8rem;
}


textarea {
    height: 15em;
    border: 1px #cfcfcf solid;
}

label {
    font-size: 1.15em;
}

.butn {
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #4aaaa5;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width:100px;
  }
  
  .butn:hover {
    background: #5ee0d7;
    text-decoration: none;
  }