figure {
	margin: 0;
	line-height: 0;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 20%;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em 0;
	background:#4aaaa5;
	position: absolute;
	bottom: 20%;
	width: 250px;
}
img {
	width: 100%;
}