figure {
	margin: 0;
	line-height: 0;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* padding-right: 20%; */
	margin: 0 1em 3em 1em;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: .5em 0;
	background:#4aaaa5;
	position: absolute;
	bottom: 5%;
	width: 250px;
	text-align: center;
	font-size: 18px;
	font-style: bold;
}
img {
	width: 100%;
}

.port-img {
  max-width: 80%;
}